<div class='brand brand--top'>
  <img src='images/cute-unicorn-on-a-bicycle-with-a-mane-of-flowers.jpg' alt='Unicorn' class='brand-img img-responsive' />
</div>
<div class='main'>
  <div class="jumbotron">
    <h1>Event Planner</h1>
    <p class="lead">Helping you plan your events, or find events planned by others!</p>
    <p><a class="btn btn-lg btn-success" href="#signup">Sign me up!</a></p>
  </div>      

  <section id="events">            
    <div id="event-list"></div>
  </section>


  <div class="footer">
    <p>♥ from the Yeoman team</p>
  </div>
</div>
